In [1]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"

a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

Explain the difference between Counter.count and self._count

**Counter.count** is a class variable,
shared across all instances of the class.
Changing this affects the variable globally for all objects.

**self._count** is an instance variable, unique to each object.
Changing this affects only that particular instance.

How does the increment method affect both the class and instance variables?

**self._count += 1:** Increments the instance variable specific to the object.

**Counter.count += 1:** Increments the class variable shared by all instances.

This allows each object to track its own individual count, while the class tracks the total number of increments across all instances.

In [2]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [3]:
def first_word(words):
    words.sort()
    return words[0]

In [4]:
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

In [6]:
class Employee:
    employee_count = 0
    salaries = []

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1
        Employee.salaries.append(salary)

    def average_salary(self):
        return sum(Employee.salaries) / len(Employee.salaries)

    def show_details(self):
        print(f"Name: {self.name}, Family: {self.family}, Salary: {self.salary}, Department: {self.department}")


class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)

e1 = Employee("Alice", "Smith", 60000, "HR")
e2 = FulltimeEmployee("Bob", "Jones", 75000, "Engineering")
e3 = FulltimeEmployee("Charlie", "Brown", 70000, "Sales")

e1.show_details()
e2.show_details()
e3.show_details()

print("Total Employees:", Employee.employee_count)
print("Average Salary:", e1.average_salary())

Name: Alice, Family: Smith, Salary: 60000, Department: HR
Name: Bob, Family: Jones, Salary: 75000, Department: Engineering
Name: Charlie, Family: Brown, Salary: 70000, Department: Sales
Total Employees: 3
Average Salary: 68333.33333333333