In [40]:
input_str = input("Enter the string: ")

Enter the string: python

In [41]:
char_list = list(input_str)
del char_list[1]
del char_list[3]

In [42]:
char_list.reverse()
result = ''.join(char_list)
print(result)

nhtp

In [2]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

Enter first number: 3
Enter second number: 3

In [3]:
print(f"Addition: {num1} + {num2} = {num1 + num2}")
print(f"Subtraction: {num1} - {num2} = {num1 - num2}")
print(f"Multiplication: {num1} * {num2} = {num1 * num2}")
if num2 != 0:
    print(f"Division: {num1} / {num2} = {num1 / num2}")
else:
    print("Division: Cannot divide by zero.")

Addition: 3.0 + 3.0 = 6.0
Subtraction: 3.0 - 3.0 = 0.0
Multiplication: 3.0 * 3.0 = 9.0
Division: 3.0 / 3.0 = 1.0

In [4]:
sentence = input("Enter a sentence: ")
updated_sentence = sentence.replace('python', 'pythons')

Enter a sentence: She like python

In [5]:
print("Updated sentence:", updated_sentence)

Updated sentence: She like pythons

In [9]:
classScore = float(input("Enter your class score (0–100): "))

Enter your class score (0–100): 79

In [14]:
if classScore >= 90 and classScore <= 100:
    print("Grade: A")
elif classScore >= 80:
    print("Grade: B")
elif classScore >= 70:
    print("Grade: C")
elif classScore >= 60:
    print("Grade: D")
elif classScore >= 0:
    print("Grade: F")
else:
    print("Invalid classScore. Please enter a number between 0 and 100.")

Grade: C

In [17]:
x = [23, 'Python', 23.98]

In [18]:
types = [type(item) for item in x]

In [19]:
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [20]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [21]:
print("Length of IT_companies:", len(IT_companies))

Length of IT_companies: 7

In [22]:
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

After adding Twitter: {'Oracle', 'Google', 'Facebook', 'Amazon', 'Twitter', 'IBM', 'Microsoft', 'Apple'}

In [23]:
IT_companies.update(['Tesla', 'Intel', 'Spotify'])
print("After adding multiple companies:", IT_companies)

After adding multiple companies: {'Amazon', 'Twitter', 'Tesla', 'Apple', 'Google', 'Facebook', 'Oracle', 'Spotify', 'Microsoft', 'IBM', 'Intel'}

In [24]:
IT_companies.remove('Oracle')
print("After removing Oracle:", IT_companies)

After removing Oracle: {'Amazon', 'Twitter', 'Tesla', 'Apple', 'Google', 'Facebook', 'Spotify', 'Microsoft', 'IBM', 'Intel'}

In [25]:
print("remove vs discard: remove raises error if item not found; discard does not.")

remove vs discard: remove raises error if item not found; discard does not.

In [26]:
union_set = A.union(B)
print("Union of A and B:", union_set)

Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}

In [27]:
intersection = A.intersection(B)
print("Intersection of A and B:", intersection)

Intersection of A and B: {19, 20, 22, 24, 25, 26}

In [28]:
print("Is A subset of B?:", A.issubset(B))

Is A subset of B?: True

In [29]:
print("Are A and B disjoint?:", A.isdisjoint(B))

Are A and B disjoint?: False

In [30]:
print("A union B:", A.union(B))
print("B union A:", B.union(A))

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}

In [31]:
sym_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", sym_diff)

Symmetric difference between A and B: {27, 28}

In [32]:
del A
del B

In [33]:
age_set = set(age)
print("Original age list length:", len(age))
print("Unique age set length:", len(age_set))

Original age list length: 8
Unique age set length: 5